<div class="bioBody">
<table>
    <tr>
      <td>
        <div id="fullChart">
          <h3 class="titlePage"> Total Followers 2017</h3>
        </div>
      </td>
      <td>
        <table class="customLegend">
          <tr>
            <td> Top: Twitter Followers </td>
          </tr>
          <tr>
            <td> Second: Songkick Followers </td>
          </tr>
          <tr>
            <td> Bottom: Wikipedia Views </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

