.titlePage{
  padding-left: 10%;
  position: relative;
}

.customLegend{
  position: relative;
  left: 50%;
  border: 1px solid;
}

.bioBody{
  border-bottom-width:2px;
  border-bottom-color: lightgray;
  border-bottom-style: solid;
}
