#titleName {
  padding-left: 10px;
  position: relative;
  bottom: 10%;
  padding-right: 50%;
}
.bioBody{
  margin-top: 20px;
  border-bottom-width:2px;
  border-bottom-color: lightgray;
  border-bottom-style: solid;
  border-top-width: 2px;
  border-top-color: lightgray;
  border-top-style: solid;
}
