<div class="container bioBody">
  <table>
    <tr>
      <td>
        <img src="{{activeImage}}" width="200px" height="200px">
      </td>
      <td>
      <h2 id="titleName">{{activeName}}</h2>
      <p style="padding-left: 10px; padding-bottom: 10%; width: 70%;">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit
    amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
      </td>
    </tr>
  </table>
</div>
